body {
    background: linear-gradient(135deg,rgba(59,99,245,.99),#2a37b3 54%,#120038) 50% no-repeat;
    background-image url();
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.btn-trans-box {
    border-color: hsla(0,0%,100%,.5);
    box-shadow: none;
    color: #fff;
    background: transparent;
    font-family: Sailec-Bold,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    border: 1px solid currentColor;
    z-index: 2;
    -webkit-appearance: none;
    margin: 0;
    overflow: visible;
    font: inherit;
    font-weight: 400;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 5px;
    transition: all .25s cubic-bezier(.645,.045,.355,1);
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    box-sizing: inherit;
    list-style: none;
    text-rendering: optimizeLegibility;
    padding: 20px 20px 15px 20px;
    outline: none;
}
.btn-trans-box:hover {
    border-color: hsla(0,0%,100%,.5);
    background: hsla(0,0%,100%,.2);
}
#whiteSmallBox {
    position: fixed;
    box-shadow: 0 4px 8px rgba(3,27,78,.2);
    width: 300px;
    height: 300px;
    background: #fff;
    top: 30vh;
    border-radius: 30px;
}
.rightArrowBtn {
    position: fixed;
    top: 45vh;
    left: 150px;
}
.leftArrowBtn {
    position: fixed;
    top: 45vh;
    right: 150px;
}
#sectorTitle {
    color: #fff;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.sectorTitleWrapper {
    position: fixed;
    top: 15vh;
    left: 0px;
    text-align: center;
    width: 100%;
}
.bottomContentRevealBtn {
    position: fixed;
    bottom: 0;
    background; #fff;
    border: none;
    width: 100%;
    transition: 0.7s;
    -webkit-transition: 0.7s;
}
.coverSmallTrans {
    width: 300px;
    height: 300px;
    opacity: 0.6;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    border-radius: 30px;
}
#slidePort {
    position: fixed;
    z-index: 200;
    top: 100vh;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    transition: 0.7s;
    -webkit-transition: 0.7s;
}
.xBtn {
    padding: 10px 20px 10px 20px;
    font-size: 25px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    background: #d75a4a;
    color: #fff;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 6px;
}
.nextTopBtn {
    padding: 10px 20px 10px 20px;
    font-size: 25px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    background: #e0e1e2 none;
    color: rgba(0,0,0,.6);
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 6px;
    float: right;
}
.posterWrapper {
    width: 100%;
    overflow: auto;
    height: 90vh;
}
.posterImg {
    width: 100%
}
button {
    outline: none;
}
